FIREBASE_PROJECT_ID=portfolio-jeyasingh
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@portfolio-jeyasingh.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
